@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* li {
	list-style: none;
} */
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  height: 100%;
  line-height: 1;
}

body {
  max-width: 1440px;
  padding: 0 15px;
  background-color: #4e8d96;
  font-size: 28px;
  font-weight: 400;
  color: #18051b;
  margin: 0 auto;
  padding-bottom: 50px;
}

img {
  display: block;
  margin: 10px auto;
  max-width: 1000px;
}

h1 {
  text-align: center;
  padding: 50px 0 20px;
  line-height: 1.3;
}

h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 26px;
  color: #e1de0c;
}

.task__container {
  display: flex;
  flex-direction: column;
  gap: 25px;

}

ul {
  margin-left: 25px;
}

.task__item {
  display: flex;
  flex: 1 1 35%;
  flex-direction: column;
  gap: 25px;
  border: 2px solid #fddbb5;
  padding: 25px 15px;
  font-size: 22px;
  line-height: 1.2;
  flex-grow: 1;
}

@media (max-width: 991.98px) {
  .task__item {
    flex: 1 1 100%;
  }
}

.task__title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #1b2b42;
}

.task__condition {
  flex: 1 1 auto;
}

.task__condition p:not(:last-child) {
  margin-bottom: 15px;
}

.task__link {
  padding: 10px 25px;
  background-color: #b0e0dc;
  text-align: center;
  font-weight: 600;
  color: #a73c2a;
  border-radius: 10px;
  transition: all ease 0.2s;
}

.task__link:hover {
  box-shadow: inset 0px 0px 50px 0px rgba(31, 54, 104, 0.719);
  border-radius: 35px;
  outline: 1px solid rgba(43, 42, 12, 0.178);

}

table {
  margin: 0 auto;
}

th {
  background-color: #82b5b0;
  font-weight: 500;
  color: #192940;
}

th,
td {
  min-width: 100px;
  padding: 10px;
  text-align: start;
  border: 2px solid #fff;
}

.img-box {
  margin: 0 auto;
  position: relative;
  width: 700px;
  height: 350px;
}

.img-task3 {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

@media (max-width: 700.98px) {
  .img-box {
    width: 100%;
    padding-top: 55%;
    height: auto;
  }
}


.answer--task {
  display: flex;
  flex-direction: column;
}


/* Biblioteka */

.book {
  display: flex;
  flex-wrap: wrap;
  row-gap: 35px;
  column-gap: 25px;
  font-size: 22px;
  font-weight: 500;
  justify-content: space-around;
  margin-bottom: 35px;
}

.book h3 {
  text-align: center;
}

.book__add,
.publish {
  display: flex;
  flex-direction: column;
  column-gap: 50px;
  gap: 25px;
  flex: 1 1 45%;

}

.book__label,
.publish__label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: center;

}

.book__input,
.publish__input {
  flex: 1 1 65%;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  padding: 2px 10px;
  border: 1px solid #e1de0c;
  background-color: transparent;
}



.text-area {
  display: flex;

  align-items: flex-start;
}

.book__area {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  min-height: 150px;
  border: 1px solid #e1de0c;
  background-color: transparent;
}

.button-box {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.book__button {
  cursor: pointer;
  font-size: 20px;
  padding: 10px 45px;
  font-weight: 600;
  border-radius: 25px;
  background-color: #c9e3e7;
  transition: all ease 0.3s;
  /* background-color: transparent; */
}

.book__button:hover {
  border-radius: 150px 50px 150px 50px;
  background-color: #28373a;
  color: #e1de0c;
}


.search {
  margin-bottom: 35px;
}

.search h2 {
  padding-bottom: 15px;
}

.search__label {
  display: flex;
  justify-content: center;
  gap: 25px;

}

.search__input {
  min-width: 320px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  padding: 2px 10px;
  border: 1px solid #e1de0c;
  background-color: transparent;
}

.search__button {
  cursor: pointer;
  font-size: 20px;
  padding: 10px 45px;
  font-weight: 600;
  border-radius: 25px;
  border: 1px solid #e1de0c;
  background-color: #c9e3e7;
  transition: all ease 0.3s;
  background-color: transparent;
  transition: all ease 0.3s;

}

.search__button:hover {
  border-radius: 50px 150px 50px 150px;
  background-color: #28373a;
  color: #e1de0c;
  border: 1px solid transparent;
}

.search__items {
  padding: 35px 10px;
  justify-content: space-around;
}

.search__items div {
  padding: 15px;
  border-radius: 15px;
  background-color: #fddbb5;
}

.library-one {
  margin-bottom: 35px;

}

.library-one h2 {
  text-align: center;
  font-size: 25px;
  color: #e1de0c;
  font-weight: 600;
}


.library__items,
.search__items {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-around;
}


.library__item {
  display: flex;
  flex: 0 0 40%;
  gap: 15px;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #e1de0c;
  padding: 5px 10px 5px 15px;
}

.book-info {}

.book-info__name {}

.book-info__author {}

.book-info__button {
  padding: 5px 10px;
  color: #e1de0c;
  border-radius: 150px;
  border: 1px solid #e1de0c;
  background-color: transparent;
  transition: all ease 0.3s;
}

.book-info__button:hover {

  background-color: #28373a;
  color: #e1de0c;
  border: 1px solid transparent;
}


/*  task Checker */


.checker,
.answer-all {
  font-size: 25px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.checker div,
.answer-all div {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
}

.answer-label {
  display: flex;
  gap: 15px;
}

.answer-label input,
.answer-label button,
.checker-result {
  font-size: 20px;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #e1de0c;
  background-color: transparent;

}

.answer-label input {
  width: 150px;
}

.answer-label button,
.checker-result {
  cursor: pointer;
  transition: all ease 0.3s;
}

.answer-label button:hover,
.checker-result:hover {
  cursor: pointer;
  background-color: #28373a;
  color: #e1de0c;
}

.checker-result {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* Reminder */
.reminder__create {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.reminder__label {}


.reminder__select,
.reminder__input {
  border-radius: 10px;
  border: 1px solid #e1de0c;
  font-size: 22px;
  font-weight: 600;
  color: #e1de0c;
  background-color: transparent;
  padding: 5px 10px;
}



.reminder__button,
.button__reminder {
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #e1de0c;
  margin-top: 50px;
  font-size: 22px;
  font-weight: 600;
  color: #e1de0c;
  cursor: pointer;
  transition: all ease 0.3s;
}

.reminder__button:hover,
.button__reminder:hover {
  border: 1px solid #4e8d96;
  color: #4e8d96;
  background-color: #e1de0c;
}

.reminder__button {
  margin-top: 0;
}