@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* li {
	list-style: none;
} */
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  height: 100%;
  line-height: 1;
}

body {
  max-width: 1440px;
  padding: 0 15px;
  background-color: #4e8d96;
  font-size: 28px;
  font-weight: 400;
  color: #18051b;
  margin: 0 auto;
  padding-bottom: 50px;
}

img {
  display: block;
  margin: 10px auto;
  max-width: 1000px;
}

h1 {
  text-align: center;
  padding: 50px 0 20px;
  line-height: 1.3;
}

h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 26px;
  color: #e1de0c;
}

.task__container {
  display: flex;
  flex-direction: column;
  gap: 25px;

}

ul {
  margin-left: 25px;
}

.task__item {
  display: flex;
  flex: 1 1 35%;
  flex-direction: column;
  gap: 25px;
  border: 2px solid #fddbb5;
  padding: 25px 15px;
  font-size: 22px;
  line-height: 1.2;
  flex-grow: 1;
}

@media (max-width: 991.98px) {
  .task__item {
    flex: 1 1 100%;
  }
}

.task__title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #1b2b42;
}

.task__condition {
  flex: 1 1 auto;
}

.task__condition p:not(:last-child) {
  margin-bottom: 15px;
}

.task__link {
  padding: 10px 25px;
  background-color: #b0e0dc;
  text-align: center;
  font-weight: 600;
  color: #a73c2a;
  border-radius: 10px;
  transition: all ease 0.2s;
}

.task__link:hover {
  box-shadow: inset 0px 0px 50px 0px rgba(31, 54, 104, 0.719);
  border-radius: 35px;
  outline: 1px solid rgba(43, 42, 12, 0.178);

}

table {
  margin: 0 auto;
}

th {
  background-color: #82b5b0;
  font-weight: 500;
  color: #192940;
}

th,
td {
  min-width: 100px;
  padding: 10px;
  text-align: start;
  border: 2px solid #fff;
}

.img-box {
  margin: 0 auto;
  position: relative;
  width: 700px;
  height: 350px;
}

.img-task3 {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

@media (max-width: 700.98px) {
  .img-box {
    width: 100%;
    padding-top: 55%;
    height: auto;
  }
}

.input-date {
  padding: 5px 10px;
  background-color: #0c98f5;
  color: #bfdf0a;
  font-size: 20px;
  border-radius: 10px;
}

/* task3 */

.form-task,
.task3 {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.result {}

.container-result {
  display: none;
  margin-top: 25px;
}